/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.SoundCrumbs__displayNone {
  display: none;
}

.recordButton {
  position: absolute;
  z-index: 100;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
}
.recordButton-button {
  width: 100%;
  height: 100%;
  font-size: 2.7em;
}
.recordContainer, .listenContainer {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;

  flex-direction: column;
}
.button-disabled {
  display: none;
}
.log {
  position: fixed;
  top: 0;
  left: 0;
}
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.back {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.recordContainer__record {
  margin: 10px;
}
.recordContainer__select, .listenContainer__list {
  overflow: auto;
  text-align: center;
  width: 500px;

  margin: 10px;
}
.listenContainer__list {
  margin-top: 40px;
}
.recordContainer__title {
  /*clear: both;*/
  overflow: hidden;
  /*white-space: nowrap;*/
}

.recordContainer__title__text {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.is-desktop .recordContainer__title__text {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
