.cbutton {
  color: #488acb;
  vertical-align: middle;
  font-size: 1.4em;
}
.cbutton:hover {
  text-shadow: 0px 0px 5px rgba(100,100,100,0.5);
}
.cbutton:active {
  color: #33f;
}

.recordButton {
  position: absolute;
  z-index: 100;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
}
.recordButton-button {
  width: 100%;
  height: 100%;
  font-size: 3.5em;
}
.recordContainer, .listenContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;

  flex-direction: column;
}
.button-disabled {
  display: none;
}
.log {
  position: fixed;
  top: 0;
  left: 0;
}
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.back {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.recordContainer__record {
  margin: 10px;
}
.recordContainer__select, .listenContainer__list {
  overflow: auto;
  text-align: center;
  width: 100%;
  max-width: 500px;

  margin: 10px;
}
.listenContainer__list {
  margin-top: 40px;
}
.recordContainer__title {
  overflow: hidden;
}

.recordContainer__title__text, .listenContainer__title__text {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  width: 100%;
  max-width: 500px;
}
.is-desktop .recordContainer__title__text, .is-desktop .listenContainer__title__text {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.recordContainer__player, .listenContainer__player {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recordContainer__player audio, .listenContainer__player audio {
  width: 400px;
}