.cbutton {
  color: #48c;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.4em;
}
.cbutton:hover {
  text-shadow: 0px 0px 5px rgba(100,100,100,0.5);
}
.cbutton:active {
  color: #33f;
}

.cbutton__like {
  color: #6ca;
}
.cbutton__dislike {
  color: #d46;
}
.cbutton__delete {
  color: #48c;
}
.cbutton__empty {
  opacity: 0;
  cursor: default;
}

.sc-rating {
  color: #999;
  vertical-align: middle;
  font-size: 1em;
  display: inline-block;
  width: 24px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

.recordButton {
  position: absolute;
  z-index: 100;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
}
.recordButton-button {
  width: 100%;
  height: 100%;
  font-size: 3.5em;
}

/* ====== History ====== */

.historyButton {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
}

.history-layout
{
  font-family: 'Roboto', sans-serif;
}

.history-title {
  padding: 15px 0;
  position: relative;
  clear: both;
}

.history-title:after {
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  right: 5px;
  top: 24px;
  z-index: -1;
}

.history-layout {
  min-width: 500px;
  margin: 0 auto;
}

.history-title {
  margin-bottom: 0;
}

.history-list {
  width: 100%;
  max-width: 600px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.history-list__element {
  background-color: #fff;
  display: block;
  border-radius: 2px;
  margin-bottom: 16px;
  box-shadow: 0 1px 1px rgba(97, 127, 152, 0.2), 1px 0 0 rgba(97, 127, 152, 0.1), -1px 0 0 rgba(97, 127, 152, 0.1);
}

.history-list__description {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
}

.history-list__controls-block {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .08);
  box-sizing: border-box;
}

.history-list__date, .history-list__rating, .history-list__share {
  display: inline-block;
  padding: 10px 20px;
}

.history-list__date, .history-list__rating {
  border-right: 1px solid rgba(0, 0, 0, .08);
}

.history-list__rating {
  padding-left: 14px
}

.history-list__rating.-bad {
  color: #ff3466;
}

.history-list__rating.-good {
  color: #3fc372;
}

.history-list__share {
  float: right;
}

.history-list__share:hover {

}

.fa-share-alt {
  color: #999;
  font-size: 1.1rem;
}

/* ====== End history ====== */

.recordContainer, .listenContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;

  flex-direction: column;

  background-image: url("../img/bg.png");
}
.button-disabled {
  display: none;
}
.log {
  position: fixed;
  top: 0;
  left: 0;
}
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.back {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.back.-right {
  left: unset;
  right: 0;
}

.recordContainer__record {
  margin: 10px;
}
.recordContainer__select, .listenContainer__list {
  overflow: auto;
  text-align: center;
  width: 100%;
  max-width: 500px;

  margin: 10px;
}
.listenContainer__list {
  margin-top: 40px;
}
.recordContainer__title {
  overflow: hidden;
}

.recordContainer__title__text, .listenContainer__title__text {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  width: 100%;
  max-width: 500px;
}
.is-desktop .recordContainer__title__text, .is-desktop .listenContainer__title__text {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.recordContainer__player, .listenContainer__player {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recordContainer__player audio, .listenContainer__player audio {
  width: calc(100% - 150px);
}
.recordContainer__searchString {
  padding-right: 24px;
  width: 164px;
}
.recordContainer__search {
  position: relative;
  padding: 12px 64px 0 20px;
}
.recordContainer__search i {
  width: 32px;
  text-align: center;
}
.recordContainer__search-clearButton {
  display: none;
  font-size: 18px;
}
.recordContainer__inSearchMode .recordContainer__search-clearButton {
  display: inline-block;
}
.recordContainer__inSearchMode .recordContainer__search {
  padding-right: 0;
}
.recordContainer__record {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 24px 0;
  text-align: center;
  background-color: #ddd;
  cursor: pointer;
}
.recordContainer__record .cbutton {
  cursor: pointer;
  vertical-align: middle;
  font-size: 32px;
}
.recordContainer__record:hover {
  background-color: #ccc;
}
.recordContainer__record:active {
  background-color: #aaa;
}
.recordContainer__record:hover .cbutton {
  text-shadow: 0px 0px 5px rgba(100,100,100,0.5);
}
.recordContainer__record:active .cbutton {
  color: #33f;
}
.recordContainer__text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Arial';
  color: rgba(112, 112, 112, 0.3);
}