<div class="listenContainer">
    <div class="back recordContainer__back">
        <i ng-click="goToBack()" class="backButton cbutton fa fa-arrow-left"></i>
    </div>

    <div class="listenContainer__list">
        <div ng-if="audioList" ng-repeat="(key, value) in audioList">
            <div class="listenContainer__title">
                <p class="listenContainer__title__text">
                    {{value.dateStr}}: {{value.description}}
                </p>
            </div>
            <div class="listenContainer__player">
                <audio controls preload="none" ng-play="addToHistory(value)">
                    <source ng-src="{{trustSrc(value.sound)}}">
                </audio>
                <i ng-click="toggleLikeAudio(value, true)" class="cbutton cbutton__like fa fa-thumbs-up"></i>
                <span class="sc-rating">{{value.rating}}</span><!--+ value.liked.length - value.disliked.length-->
                <i ng-click="toggleLikeAudio(value, false)" class="cbutton cbutton__dislike fa fa-thumbs-down"></i>
                <i ng-if="isMyAudio(value) === true" ng-click="deleteAudio(value)" class="cbutton cbutton__delete fa fa-remove"></i>
                <i ng-if="isMyAudio(value) === false" class="cbutton cbutton__empty fa fa-remove"></i>
            </div>
        </div>
    </div>

</div>