
<style>
    div {
        margin: 5px;
    }
</style>

<form ref='uploadForm'
      id='uploadForm'
      action='https://soundcrumbs.herokuapp.com/upload'
      method='post'
      encType="multipart/form-data">
    <input type="hidden" name="sid" value="{{sid}}"/>
    <input id="file" type="file" name="file" />
    <input id="submitButton" type='submit' ng-click="submitClick()" value='Upload!' />
</form>

<div>{{wait}}</div>

<div ng-if="audio.url">
    <audio controls preload="none">
        <source ng-src="{{trustSrc(audio.url)}}">
    </audio>
</div>

