<div class="recordContainer" ng-class="{'recordContainer__inSearchMode':searchMode}">
    <span class="recordContainer__text" ng-if="isNotRecording && isNotUploadingFile && !searchMode">Для добавления аудиозаписи<br/>воспользуйтесь поиском или...<br/>создайте собственную!<br/></span>
    <div class="back recordContainer__back">
        <i ng-if="isNotRecording&&isNotUploadingFile" ng-click="goToBack()" class="backButton cbutton fa fa-arrow-left"></i>
    </div>

    <div class="recordContainer__log">{{log}}</div>
    <div ng-if="isNotRecording&&isNotUploadingFile" class="recordContainer__search">
        <input ng-model="formData.searchString2" placeholder="Поиск аудиозаписей..." class="recordContainer__searchString">
        <i  ng-click="clearSearch()" class="cbutton fa fa-remove recordContainer__search-clearButton"></i>
        <i  ng-click="getAudio()" class="cbutton fa fa-search"></i>

        <i  ng-click="openUploadForm()" class="cbutton fa fa-upload"></i>
        <i ng-if="isNotRecording && searchMode" ng-click="startRecording()" class="startButton cbutton fa fa-microphone"></i>
    </div>

    <div class="l_record">
      <div class="l_record__header">
        <div class="b_header-search">
          <div>
            <i class="b_header-search__icon fa fa-search" aria-hidden="true"></i>
            <input class="b_header-search__input" type="text" ng-model="formData.searchString" ng-keyup="onKey()" >
            <i  ng-click="clearSearch()" class="b_header-search__clear fa fa-remove "></i>
          </div>
        </div>
      </div>

      <ul class="records-list" ng-if="isNotRecording&&isNotUploadingFile">
        <div class="records-list__element" ng-if="audioList" ng-repeat="(key, value) in audioList">
          <li ng-if="value.aid">
            <div class="records-list__description">{{value.artist}} - {{value.title}}</div>
            <div class="records-list__add" ng-click="selectAudio(value)"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="records-list__audio">
              <audio controls preload="none" ng-play="changePlayerTarget($event)">
                <source ng-src="{{trustSrc(value.url)}}">
              </audio>
            </div>
          </li>
        </div>
      </ul>
    </div>

    <div ng-if="isNotRecording&&isUploadingFile&&!log">
        <form ref='uploadForm'
            id='uploadForm'
            encType="multipart/form-data">

            <input type="hidden" name="sid" value="{{sid}}"/>
            <input id="file" type="file" ng-model="fileInput" name="file" />
            <input id="submitButton" type='submit' ng-click="submitClick()" value='Upload!' />
            <input type="reset" ng-click="closeUploadForm()" value="Cancel"></input>
        </form>
    </div>

    <div class="recordContainer__record" ng-if="isNotRecording && !searchMode && !log" ng-click="startRecording()">
        <i class="startButton cbutton fa fa-microphone"></i>
    </div>

    <div ng-if="isRecording" class="recordContainer__record" ng-if="isNotRecording && !searchMode" ng-click="stopRecording()">
        <i class="stopButton cbutton fa fa-stop"></i>
    </div>

    <div id="l_modal" class="l_modal-bg">
      <div class="b_modal">
        <div class="b_modal__form">
          <input class="b_form__input" placeholder="Описание записи" type="text">
          <div class="b_form__controls">
            <div class="b_form__button -cancel" ng-click="cancelRecord()">Отменить</div>
            <div ng-click="sendAudio()" id="sendAudio" class="b_form__button -save">Отправить</div>
          </div>
        </div>
      </div>
    </div>
</div>
