<div class="recordContainer">
    <div class="back recordContainer__back">
        <i ng-if="isNotRecording" ng-click="goToBack()" class="backButton cbutton fa fa-arrow-left"></i>
    </div>
    <div class="recordContainer__record">
        <i ng-if="isNotRecording" ng-click="startRecording()" class="startButton cbutton fa fa-microphone"></i>
        <i ng-if="isRecording" ng-click="stopRecording()" class="stopButton cbutton fa fa-stop"></i>
    </div>
    <div class="recordContainer__log">{{log}}</div>

    <div ng-if="isNotRecording" class="recordContainer__search">
        <label>
            Поиск:
            <input ng-model="formData.searchString">
        </label>
        <i  ng-click="getAudio()" class="cbutton fa fa-search"></i>
    </div>
    <div ng-if="isNotRecording" class="recordContainer__select">
        <div ng-if="audioList" ng-repeat="(key, value) in audioList">

            <div ng-if="value.aid">
                <div class="recordContainer__title">
                    <p class="recordContainer__title__text">
                        {{value.artist}} - {{value.title}}
                    </p>
                </div>
                <div class="recordContainer__player">
                    <audio controls preload="none">
                        <source ng-src="{{trustSrc(value.url)}}">
                    </audio>
                    <i ng-click="selectAudio(value)" class="cbutton fa fa-plus-square-o"></i>
                </div>
            </div>

        </div>
    </div>
</div>