<div class="listenContainer">
    <div class="back historyContainer__back -right">
        <i ng-click="goToBack()" class="cbutton fa fa-chevron-right"></i>
    </div>

    <div class="history-layout">
      <h2 class="history-title"><span>История</span></h2>

      <ul class="history-list">
        <li class="history-list__element">
          <div class="history-list__description">{{velue.description}}</div>
          <div class="history-list__controls-block">
            <div class="history-list__date">{{value.dateStr}}</div>
            <div class="history-list__rating">{{value.rating}}</div>
            <div class="history-list__share">
              <a href="http://vkontakte.ru/share.php?url=magec.com&&title=REAL_MAGIC!1&&description=AWESOME&image=https://cdn.meme.am/instances/400x400/39428272.jpg&noparse=true">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
        <li></li>
        <li></li>
      </ul>
    </div>
</div>
